body {
background-color: black;
background-repeat: no repeat;
background-attachment: fixed;
background-position: center center;
counter-reset: section;
counter-increment: section;
}

.cover {
text-align: center;
padding: 5px;

}

.potpis {
text-align: center; 
font-size: 15px;
color: white;
opacity: 0.7;
}
	

h2 {
font-family: times New Roman;
text-shadow: silver 7px 5px 4px;
color: white;
text-align: center;
font-size: 1cm;
letter-spacing: 0.4cm;
text-transform: uppercase;
page-break-before: always;
}


.vd {
color: white;
padding-left: 150px;
padding-right: 210px;
font-size: 0.5cm;
max-height: 1000px;
max-width: 1000px;
min-height: 100px;
min-width: 100px;
page-break-inside: avoid;
quotes: "«" "»";
}

.java {
border: 1px dotted white;
padding-right: 10px; 
padding-left: 10px; 
}



